.login{
    position: absolute;
    background: url('background.jpg.avif') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.login h1{
    font-size: 60px;
    position: absolute;
    left: 45%;
    top: 25%;
    color: white;
}

.login .mail{
    position: absolute;
    top: 45%;
    left: 41%;
    width: 270px;
    height: 25px;
    border-right: none;
    border-left: none;
    border-top: none;
    background: transparent;
    color: white;
    outline: none;
    font-size: 16px;
}

.login .pass{
    position: absolute;
    top: 53%;
    left: 41%;
    width: 270px;
    height: 25px;
    border-right: none;
    border-left: none;
    border-top: none;
    background: transparent;
    color: white;
    outline: none;
    font-size: 16px;
}

.login .sub{
    position: absolute;
    top: 62%;
    left: 41%;
    width: 275px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(246, 67, 67);
    border: none;
    color: white;
}

.login p{
    position: absolute;
    top: 66%;
    left: 41%;
    width: 270px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

.login .conn{
    position: absolute;
    top: 66%;
    left: 56%;
    width: 270px;
    height: 25px;
    border-radius: 5px;
    color: white;
    text-decoration-line: none;
}

.login .conn:hover{
    text-decoration-line: underline;
    transform: translate3d(0,-5px,0);
    transition: 0.7s;
    color: rgb(102, 94, 238);
}

.login h2{
    position: absolute;
    top: 7%;
    left: 28%;
    font-size: 70px;
    color: white;
}

.login .b1{
    position: absolute;
    font-size: 30px;
    top: 74%;
    left: 43%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.login .b1:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.login .b2{
    position: absolute;
    font-size: 30px;
    top: 74%;
    left: 50%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.login .b2:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.login .b3{
    position: absolute;
    font-size: 30px;
    top: 74%;
    left: 57%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.login .b3:hover{
    transition: 0.5s;
    transform: scale(1.2);
}